// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.index-table-title {
  padding: 1px 1px 5px;
}

.index-table-contents {
  padding: 1px 5px 7px;
}

.index-bottun {
  display: block;
}

.show-notice {
  color: green;
  margin: 33px;
}

.show-content {
  margin: 33px;
}

.show-button {
  display: inline-block;
}

.edit-title {
  margin: 17.42px 0;
}

.edit-field {
  margin: 0 0 10px;
}

.edit-button {
  display: inline-block;
}